*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result {
  max-width: 711px;
  width: 100%;
  height: 100%;
  margin-left: 60px;
  margin-bottom: 10px;
}

.result__video-container {
  display: flex;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__details {
  width: 100%;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.title {
  margin-top: 133px;
}

/* Видосики */
.content__list {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  max-height: 298px;
  margin-top: 25px;
}

.content__list-item {
  margin-top: 30px;
}
ul li:first-child {
  margin-top: 150px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  object-fit: fill;
  width: 194px;
  height: 103px;
}

/* Текст */

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
  margin-top: 15px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content__accent {
  color: #545050;
}

.content__video-card-description-container {
  gap: 6px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline 1px solid #fff;
}

/* Кнопки и формы */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  display: none;
  content: "";
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__label {
  display: block;
  cursor: pointer;
}

.search-form__label:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__checkbox:active {
  outline: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label-text {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-left: 5px;
  margin-right: 15px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
}

.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.button {
  display: inline-block;
  font-weight: 700;
  user-select: none;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid;
  border-color: #fff;
  border-radius: 1px;
  transition: 0.2s;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background: rgba(255, 255, 255, 0.2);
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 194px;
  height: 34px;
  margin-top: 30px;

}

.more-button {
  width: 100%;
  margin-top: 10px;
}
